<h1>내정보 수정</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ID</label>
                <input class="form-control" value=@Model.UserId readonly  />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">비밀번호</label>
                <input type="password" class="form-control" value=@Model.UserPw readonly/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">이름</label>
                <input class="form-control" value=@Model.UserName readonly/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">이메일</label>
                <input class="form-control" value=@Model.UserEmail readonly/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">소개</label>
                <input class="form-control" value=@Model.UserIntro readonly/>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="ChkPw">정보 수정</a>
            </div>
        </form>
    </div>
</div>
