<div class="text-center">
    <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="FindId">아이디 찾기</a>
    <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="FindPw">비밀번호 찾기</a>
</div>