<div class="text-center">
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="NoChkOrderList">미확정된 주문</a>
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="ChkOrderList">확정된 주문</a>
    
</div>