<div class="text-center">
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="Notice">공지사항 등록</a>
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="AnswerList">1:1문의 답변</a>
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="FaqAdd">FAQ 등록</a>
</div>