@model TestWebSIte.Models.Faq

@{
    ViewData["Title"] = "FAQ 생성";
}
<h2>관리자용 FAQ 등록</h2>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form asp-controller="Board" asp-action="FaqAdd" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>카테고리 선택</label>
                <select class="custom-select-sm" asp-for="CategoryChoice">
                    <option>요금문의</option>
                    <option>상품문의</option>
                    <option>환불문의</option>
                </select>
            </div>
            <div class="form-group">
                <label>제목</label>
                <input type="text" asp-for="FaqTItle" class="form-control" placeholder="제목 입력" />
                <span asp-validation-for="FaqTItle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>내용</label>
                <textarea asp-for="FaqAnswer" class="form-control editor" rows="20" placeholder="내용 입력"></textarea>
                <span asp-validation-for="FaqAnswer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">저장</button>
                <a class="btn btn-warning" asp-controller="Board" asp-action="Index">취소</a>
            </div>
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}