<div class="text-center">
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="StatisticsOrderDaily">일별 주문 통계</a>
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="StatisticsOrderMonthly">월별 주문 통계</a>
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="StatisticsSignUpDaily">일별 회원가입 통계</a>
    <a class="btn btn-outline-secondary" asp-controller="Board" asp-action="StatisticsSignUpMonthly">월별 회원가입 통계</a>
</div>
